[2014-11-21 11:01] hd-deman opened #1 "join us"
You can transfer it to the AtomLinter org if you'd like. You'll still be the maintainer.
The sooner you do it, the less the statistics of downloads you will lose)
flow:
1. run `apm unpublish linter-flow` command to unpublish package
2. move repo to AtomLInter org (you will be an administrator)
3. fix repo url in package.json
4. publish again

This allows us to more easily keep track of linters tha

[2014-11-21 20:02] nijikokun opened #2 "Arguments.path.join must be strings"
[code]

[2014-11-21 21:15] #1 closed, assigned to nobody

[2014-12-01 07:40] #2 closed, assigned to nobody

[2014-12-03 00:32] matthewwithanm opened #4 "--module option not supported?"
I might be missing something but the latest version, at least, doesn't seem to support [the --module option][1].

[1]: https://github.com/AtomLinter/linter-flow/blob/9bd957e1e847b04f6c1d2d00e298c0055d643fd2/lib/linter-flow.coffee#L113

[2014-12-07 06:18] josebalius opened #5 "Bottom status bar?"
Hi

I am using this package and it works great. Only problem I have is that the bottom status bar shown in the screenshot does no appear for me, so sometimes if I have errors towards the bottom of a long file, I am not aware of them. Is there anyway I can see the bottom bar whenever I have errors?

[2014-12-07 12:38] #5 closed, assigned to nobody

[2014-12-19 05:01] cursivecode opened #6 "flowServer not working"
I couldn't get linter-flow to work without changing

 flowServer = spawn(@flowPath, ['start', '--all', '--module', 'node', path.resolve(atom.project.path)])

to

flowServer = spawn(@flowPath, ['start', '--all', path.resolve(atom.project.path)])

[2015-01-29 10:02] mesosteros opened #7 "When closing js tabs Linter Flow throws an error"
[Enter steps to reproduce below:]

1. Close an open javascript file tab

**Atom Version**: 0.176.0
**System**: Microsoft Windows 8.1
**Thrown From**: [linter-flow](https://github.com/AtomLinter/linter-flow) package, v0.1.3

### Stack Trace

Uncaught TypeError: Bad argument

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

/cc @atom/core

[2015-01-29 10:37] atalargo opened #8 "Uncaught TypeError: Bad argument"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.176.0
**System**: Mac OS X 10.10.1
**Thrown From**: [linter-flow](https://github.com/AtomLinter/linter-flow) package, v0.1.3

### Stack Trace

Uncaught TypeError: Bad argument

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

/cc @atom/core

[2015-02-02 01:05] frederickfogerty commented on #8
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.176.0
**System**: Mac OS X 10.10.2
**Thrown From**: [linter-flow](https://github.com/AtomLinter/linter-flow) package, v0.1.3

### Stack Trace

Uncaught TypeError: Bad argument

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

/cc @atom/core

[2015-02-05 13:53] Andersos opened #9 "Uncaught Error: spawn EACCES"
[Enter steps to reproduce below:]

1. Open some files
2. Close all files by holding in cmd + W

**Atom Version**: 0.177.0
**System**: Mac OS X 10.10.2
**Thrown From**: [linter-flow](https://github.com/AtomLinter/linter-flow) package, v0.1.3

### Stack Trace

Uncaught Error: spawn EACCES

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

/cc @atom/core

[2015-03-13 17:57] burabure commented on #2
getting this on Ubuntu 14.04. flow on PATH

[code]

[2015-03-21 14:27] jayplattuk commented on #9
I've got the same issue. Any solution yet?

[2015-03-22 04:43] #7 closed

[2015-03-22 04:43] #8 closed

[2015-03-22 04:45] paulcbetts commented on #8
Can you give this a try in the latest version?

[2015-03-22 04:45] paulcbetts commented on #7
Can you give this a try in the latest version?

[2015-03-22 04:45] paulcbetts commented on #2
Can you give this a try in the latest version?

[2015-03-22 05:12] paulcbetts commented on #9
@jayplattuk Can you give the latest version a try?

[2015-03-22 17:15] burabure commented on #2
Nope =(

**Atom Version**: 0.181.0
**System**: linux 3.13.0-45-generic
**Thrown From**: [linter-flow](https://github.com/AtomLinter/linter-flow) package, v0.1.4

### Stack Trace

Uncaught TypeError: Cannot read property 'getPath' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-03-22 17:56] paulcbetts commented on #2
...I may have published it to npm :man::gun:

[2015-04-06 18:04] thibmaek opened #14 "Uncaught TypeError: Arguments to path.join must be strings"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.189.0
**System**: Mac OS X 10.10.2
**Thrown From**: [linter-flow](https://github.com/AtomLinter/linter-flow) package, v0.1.4

### Stack Trace

Uncaught TypeError: Arguments to path.join must be strings

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-04-07 23:44] burabure opened #15 "Uncaught TypeError: Cannot read property 'getPath' of undefined"
it's back =(

**Atom Version**: 0.181.0
**System**: linux 3.13.0-45-generic
**Thrown From**: [linter-flow](https://github.com/AtomLinter/linter-flow) package, v0.1.4

### Stack Trace

Uncaught TypeError: Cannot read property 'getPath' of undefined

[code]

### Config

[code]

### Installed Packages

[code]

[2015-04-09 14:01] l4u opened #16 "Uncaught SyntaxError: Unexpected token C"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.190.0
**System**: Mac OS X 10.10.3
**Thrown From**: [linter-flow](https://github.com/AtomLinter/linter-flow) package, v0.1.4

### Stack Trace

Uncaught SyntaxError: Unexpected token C

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-04-12 05:51] Ptival commented on #16
This keeps happening to me. I have fewer user packages, if this helps.

**Atom Version**: 0.190.0-d9f0f23
**System**: linux 3.19.3-3-ARCH
**Thrown From**: [linter-flow](https://github.com/AtomLinter/linter-flow) package, v0.1.4

### Stack Trace

Uncaught SyntaxError: Unexpected token l

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-04-19 03:12] DylanLukes commented on #15
Also on OS X. Can't use the linter :(.

**Atom Version**: 0.192.0
**System**: Mac OS X 10.10.3
**Thrown From**: [linter-flow](https://github.com/AtomLinter/linter-flow) package, v0.1.4

### Stack Trace

Uncaught TypeError: Cannot read property 'getPath' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-04-23 04:47] derekr opened #17 "Uncaught SyntaxError: Unexpected token F"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.194.0
**System**: Mac OS X 10.10.3
**Thrown From**: [linter-flow](https://github.com/AtomLinter/linter-flow) package, v0.1.4

### Stack Trace

Uncaught SyntaxError: Unexpected token F

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-05-04 08:10] rainboxx commented on #17
This happened for me when saving a new buffer with JavaScript content to disc. Console logs showed this right before the exception:

[code]

The log file mentioned in the console logs contained the following:

[code]

[2015-05-04 08:12] rainboxx commented on #17
Oh, and the content has been the first example from http://flowtype.org/docs/five-simple-examples.html#1-hello-flow:

[code]

[2015-05-04 08:15] rainboxx commented on #16
#16 and #17 are duplicates of each other, basically the package tries to parse non-JSON which seems to contain log output beside the JSON..

[2015-05-04 08:21] rainboxx commented on #6
It doesn't make a difference for me, the linter seems to get called but nothing shown. How did you know this is wrong? Has there be an error message?

[2015-05-04 08:26] rainboxx commented on #6
Checked the CLI, the param still isn't supported. What's interesting is that a flow server is starting when running Atom with linter-flow.

[2015-05-19 11:26] astoilkov opened #18 "Package.getActivationCommands is deprecated."
Use `activationCommands` instead of `activationEvents` in your package.json
Commands should be grouped by selector as follows:
[code]
[code]

[2015-05-21 22:55] #18 closed

[2015-06-02 14:46] AsaAyers opened #19 "Upcoming linter changes"
We're in the process of replacing `linter` with a rewrite. Our central issue for tracking the plan is https://github.com/AtomLinter/linter-plus/issues/29. We're working hard to make this a smooth transition for you and for your users.

Please let us know here if you'd prefer to do the work yourself. If you have any questions or concerns please join us in our [room on gitter](https://gitter.im/Atom

[2015-06-18 19:31] smockle commented on #19
@kevinsawicki I'd be happy to help prepare linter-flow for this transition. @AsaAyers is there a write-up of the linter-plus API changes somewhere?

[2015-06-18 20:51] AsaAyers commented on #19
We don't have any tools in place yet to help with linters that call out to a CLI. What we do have is what the JavaScript side of the API looks like to report the errors back to the core.

https://github.com/AtomLinter/linter-plus/wiki/Linter-API

[2015-06-19 20:31] #6 closed

[2015-06-25 19:47] #9 closed

[2015-07-11 12:07] christophehurpeau opened #21 "Object.activate is deprecated."
AtomLinter v0.X.Y API has been deprecated. Please refer to the Linter docs to update and the latest API: https://github.com/AtomLinter/Linter/wiki/Migrating-to-the-new-API
[code]

[2015-08-02 03:51] lokiCML commented on #21
+1

[2015-08-19 09:18] mattbrun commented on #21
+1

[2015-08-22 15:04] steelbrain opened #22 "Add Naman Goel as a maintainer"
This repo is abandoned and needs a maintainer. Because of this being unmaintained, Naman Goel (@nmn) has made a fork `linter-flow-plus` and is maintaining it, I vote for him to be the maintainer of this repo.
Continuing from https://github.com/nmn/linter-flow-plus/issues/3
cc @AtomLinter/owners

[2015-08-22 17:23] paulcbetts commented on #22
I can't actually do that, but :+1: from me

[2015-08-22 18:25] AsaAyers commented on #22
Welcome @nmn! You should have an invitation in your email to join this team.

[2015-08-22 18:25] #22 closed

[2015-08-23 19:01] nmn commented on #22
thanks!

[2015-09-04 21:36] #21 closed

[2015-09-04 21:36] nmn commented on #21
rewrite fixes this

[2015-09-04 21:36] nmn commented on #19
Fixed with rewrite.

[2015-09-04 21:36] #19 closed

[2015-09-04 21:37] nmn commented on #17
Should be fixed now.

[2015-09-04 21:37] #17 closed

[2015-09-04 21:38] nmn commented on #16
Closing as no longer applies. please create a new issue for any new problems you encounter.

[2015-09-04 21:38] #16 closed

[2015-09-04 21:38] nmn commented on #15
It should be fine now.

[2015-09-04 21:38] #15 closed

[2015-09-04 21:39] nmn commented on #14
No longer applicable.

[2015-09-04 21:39] #14 closed

[2015-09-04 21:40] nmn commented on #4
Not sure if still relevant. Let me know what the module option did, and if you want it back.

[2015-09-04 21:40] #4 closed

[2015-09-04 21:45] nmn opened #23 "Support for Hack"
I'm not a hack developer. Would love some help adding support.

[2015-09-04 21:46] nmn opened #24 "Detect .flowconfig"
If the `.flowconfig` file is missing, the plugin currently fires a stupid warning on the first line of the file.

Detect is the file exists or not, and provide a better error message instead. Also, add a setting to enable/disable this error.

[2015-09-04 21:48] nmn opened #25 "Better handling for flow comment tag"
Currently the linter only works if it can fine the `/* @flow */` comment in the file.

Flow itself does this, but has an option to lint all files. Add an option to deal with this better.

[2015-09-04 21:53] nmn opened #26 "Look into supporting more ES6 with Babel"
Here's the idea:
When the plugin boots up, it creates a copy of the entire project in the `/tmp` folder by passing it through Babel. While doing this, Babel is carefully configured to only transpile the features not supported by flow.

Then, the flow command is run on the transpiled version of the code instead. While typing, Babel will be used to convert the code before being fed into the flow-cli

[2015-09-05 00:34] steelbrain commented on #26
We can just enable it's source maps and then consume those source maps to trace the new lines back to the old

[2015-09-05 00:35] steelbrain commented on #23
IMO, hack support doesn't belong here.

[2015-09-05 04:59] k2b6s9j commented on #23
Hold up. Hack is typed PHP. Flow is typed JavaScript. Both are maintained by Facebook. I can see the similarities. But I don't think they should occupy the same Linter provider. If this were a situation like rustc and cargo I'd be able to see it better. On a fundamental level they are too different. Linter providers should only be for one tool at a time

[2015-09-05 06:34] steelbrain commented on #23
@k2b6s9j Exactly! They have different output formats, different binaries and different grammers. We shouldn't tight them up together in one package.

[2015-09-05 07:35] nmn commented on #23
My understanding is that flow supports hack in addition to Javascript in the same cli-tool.
The flow git project on Github has a full folder just for hack.

However, the website explicitly says it's a typechecker for javascript. So I'll close this for now.

[2015-09-05 07:35] #23 closed

[2015-09-05 07:37] nmn commented on #26
@steelbrain That's a great idea, Again, I don't really know how sourcemaps work, so help still wanted. :)

[2015-09-05 07:58] steelbrain commented on #26
@nmn There's an npm module for that https://github.com/mozilla/source-map#consuming-a-source-map

[2015-09-05 07:59] steelbrain commented on #23
@nmn it has a hack folder because they share the same base, the flow type checker is kinda the base of hack type checker copied + js specific stuff

[2015-09-06 06:54] kepler0 opened #27 "Install `linter` automatically."
By using [`atom-package-deps`](https://github.com/steelbrain/package-deps) you are able to install `linter` automatically on activation. This will allow new Atom users to install only your package and nothing else, removing one step from the installation process.

Please see AtomLinter/linter-ruby#38 for example.

[2015-09-06 15:50] nmn commented on #26
Thanks, I'll look into it.

[2015-09-06 15:51] nmn commented on #27
Thanks for this, I'll add this asap.

[2015-09-07 21:13] steelbrain opened #28 "Remove plus in messages"
It still shows `linter-flow-plus` in a couple of places, it should be corrected.

[2015-09-08 08:33] nmn commented on #28
Done.

[2015-09-08 08:33] #28 closed

[2015-09-18 23:53] jasonkuhrt opened #30 "Bad argument"
Seems like #8 but that is very old. I'm on release `v3.1.0`.

[code]

[2015-09-19 03:30] jonS90 commented on #30
Exact same stack trace here. Just installed linter-flow for the first time. (Same package version as above.)

[2015-09-23 01:40] izaakschroeder commented on #30
:+1:

[2015-09-23 01:40] izaakschroeder commented on #25
:+1:

[2015-09-23 01:41] steelbrain commented on #30
Is your config `linter-flow.pathToFlowExecutable` correct?

[2015-09-23 09:41] nmn commented on #30
In order to fix this, can you:
1) make sure flow is available on path to linter-flow. You can use `which flow` to get an absolute path and paste that in the config for linter-flow.
2) Make sure the `.flowconfig` exists in your project and flow works from the cli.

If that that still doesn't work, please let me know.

[2015-09-23 19:27] nikgraf commented on #30
I have the same issue:

[code]

Run the flow command from the root:

[code]

and used the absolute path & rebooted atom:

[code]

<img width="771" alt="screen shot 2015-09-23 at 21 24 22" src="https://cloud.githubusercontent.com/assets/223045/10056057/d8ce3938-6239-11e5-8b06-eb073335aff7.png">

[2015-09-24 20:43] nmn commented on #30
looking into it. You seem to be set up correctly.

[2015-09-24 20:47] nmn commented on #30
found the issue, will push a fix in an hour. I hope I'm right about the problem.

[2015-09-24 22:55] nmn commented on #30
Just published a patch. Please confirm that the problem has been fixed.

[2015-09-24 22:55] #30 closed

[2015-09-25 00:31] gigq commented on #30
I'm still getting this issue in 3.1.2

[2015-09-25 16:59] sambev commented on #30
@gigq I was getting this too.
I could be totally off here, but when I followed the trace, I noticed that a variable called `cmdString` was getting passed to `child_process.spawn` and was undefined. Looking at the assignment of `cmdString` I found this:

`    cmdString = atom.config.get('linter-flow-plus.pathToFlowExecutable');`

But I was not running linter-flow-plus, I was running linter-flow. I

[2015-09-25 20:57] nmn commented on #30
Sorry, I upgraded to node 4, and the build step silently failed. It's fixed now. Please confirm.

[2015-09-26 07:50] nikgraf commented on #30
Works like a charm now :+1:

[2015-09-28 14:02] winsonwq opened #31 "Error: Missing type field on Linter Response"
Hi, I just met this issue with linter 1.6.0. Could you have a check?

[2015-09-28 14:05] steelbrain commented on #31
cc @nmn

[2015-09-28 14:27] aendrew commented on #31
+1 to this.

[2015-09-29 02:45] winsonwq commented on #31
Hi everyone, I fixed this after upgrade flow to 0.16.0 ... hope this would solve.

[2015-09-29 16:29] nmn commented on #31
please give me more details on this. Not sure what this means.

[2015-09-29 23:06] steelbrain commented on #31
@nmn this is an error that the base linter throws whenever you feed it messages that don't have the `type` field.

[2015-10-07 00:12] jschr commented on #31
Can confirm the error was happening because of an older installation of flow. Make sure to run `brew update` `brew install flow` to get the latest on OSX.

[2015-10-14 23:13] tomitrescak opened #32 "flow' could not be spawned. Is it installed and on your path?"
Hi, I am using mac and flow is installed via brew. It works in cosole. Yet I get this message:

[code]

[2015-10-14 23:29] Arcanemagus commented on #32
OS X strips the environment from applications launched through the GUI, you can either specify the full path to `flow` in the settings, or you can launch `atom` from the console.

[2015-10-15 08:30] nmn commented on #32
What @Arcanemagus said.

Adding the path in the setting should be straightforward.

Btw, I'm about to publish a flow-based autocomplete provider.

[2015-10-21 01:48] #31 closed

[2015-10-31 01:19] steelbrain opened #34 "Add Arnaud Dezandee as a collaborator"
He is a nice guy, who writes code with good quality. He has my :+1:. What is your opinion @nmn?

[2015-10-31 08:01] nmn commented on #34
+1 from me too.

[2015-10-31 08:31] steelbrain commented on #34
@Adezandee You're in!

[2015-10-31 08:31] #34 closed

[2015-10-31 09:02] Adezandee commented on #34
Thanks @steelbrain ! :+1:

[2015-11-08 22:40] elliottsj opened #36 "`suppress_comment` comments are ignored"
If I define a [`suppress_comment`](http://flowtype.org/docs/advanced-configuration.html) regex like this:

[code]

`flow check` properly ignores the line following the comment, but linter-flow does not:

<img width="442" alt="screenshot 2015-11-08 17 40 26" src="https://cloud.githubusercontent.com/assets/2177366/11023186/d024f928-863f-11e5-8d3e-9090ad68be79.png">

[2015-11-08 22:45] elliottsj commented on #36
Related: https://github.com/facebook/flow/issues/1008

[2015-11-08 22:49] nmn commented on #36
This is probably a bug in flow itself, as obviously the linter gets its errors from flow. It could be a bug specific to `flow check-contents`.

I'll look into it and create an issue on flow if that is needed.

[2015-11-09 22:40] sambev opened #37 "env: node: No such file or directory"
I have flow installed (v 0.18.1) via npm
executable is in `/usr/local/bin/flow` and is set in settings.
I have a .flowconfig in the project root

When I open a file for linting I get the `Error linting check console for details` with `env: node: No such file or directory`.

Any ideas?

[2015-11-09 22:42] nmn commented on #37
A pretty big upgrade is in the works and hopefully that solves your problem. But otherwise, I'm not sure what could be causing the error.

[2015-11-10 19:14] nmn commented on #26
This is no longer needed as flow itself has added support for decorators.

[2015-11-10 19:14] #26 closed

[2015-11-23 23:02] AgentME opened #40 "giant "merge_strict_job THROWS: ... Failure('hd')" error message about once a minute"
linter-flow had been working well for me, but then I decided to create a new file, and I started getting an error about once a minute from linter-flow. It doesn't let me copy the text from the error message, so here's a screenshot:

![screen shot 2015-11-23 at 2 58 51 pm](https://cloud.githubusercontent.com/assets/577345/11352704/be436816-91f2-11e5-987f-d03ba8f7527d.png)

Flow run from the command

[2015-11-24 06:36] nmn commented on #40
Atom version, OS info please.

Also please make sure:
1. restart atom and see if the problem persists
2. Open the dev tools (cmd+alt+i) and send a screenshot of the console
3. Provide any other steps involved to recreate the problem.

Thanks.

[2015-11-24 06:36] nmn commented on #37
I hope your problem is now solved?

[2015-11-24 06:38] nmn commented on #36
It is possible for me to add a patch that would ignore errors in the linter. However, I think the correct solution would be for it to be fixed in flow itself.

@steelbrain @Adezandee What do you think. Do you want to add a patch to linter-flow that fixes this issue while we wait for flow to fix it on their end?

[2015-11-24 06:39] nmn commented on #32
I believe this has been resolved with the new version of linter flow. Closing.

[2015-11-24 06:39] #32 closed

[2015-11-24 06:39] nmn commented on #27
Released.

[2015-11-24 06:39] #27 closed

[2015-11-24 06:39] nmn commented on #25
Done.

[2015-11-24 06:39] #25 closed

[2015-11-24 06:39] nmn commented on #24
Done.

[2015-11-24 06:39] #24 closed

[2015-11-24 17:50] Arcanemagus commented on #36
If the errors specific to `flow check-contents` are simple enough to detect you might write a patch with an issue filed to remind you to remove it when it is fixed in `flow`, in the linters I've worked on though for the most part we just leave it up to the provider.

[2015-11-24 17:55] steelbrain commented on #36
@nmn If I recall correctly, flow doesn't search for `.flowconfig` on `flow check-contents`, therefore it doesn't know if it's supposed to ignore those errors. We could ask flow peeps to check for `.flowconfig` and if it's available, use it.

As a workaround, people experiencing this issue can disable `lintOnFly`. or if we get a lot of requests for this, we could patch it in this package.

[2015-11-24 18:39] sambev commented on #37
I don't get the same problem, but now it doesn't seem like the linter is running now. I am going to file this under a 'me problem' and try to sort out my environment. Closing for now, will reopen if there are further issues..

[2015-11-24 18:39] #37 closed

[2015-11-24 20:30] nmn commented on #36
@steelbrain I don't think the issue is that flow doesn't look at the `.flowconfig` file. The `.flowconfig` file is used when starting the flow server, and `check-contents` only runs after the server is already running.

Also, it correctly reads the other config in the file such as [lib] and support for getter & settters and decorators.

I think it's just a random flow bug. That said, there are a l

[2015-11-24 20:31] steelbrain commented on #36
@nmn If you think it's trivial to handle this in this linter, go for it!

[2015-12-04 18:01] Arcanemagus opened #41 "Update .flowconfig message"
Currently if `.flowconfig` is missing an Info level toast is shown saying "Missing .flowconfig file.", it would help users new to `flow` (who have failed to read the instructions :stuck_out_tongue:) if this message said something along the lines of "Run `flow init` in this directory to set the default options.".

[2015-12-05 02:52] Adezandee commented on #41
Done :+1:

[2015-12-05 02:52] #41 closed

[2015-12-06 09:59] Arcanemagus commented on #41
Thanks!

[2015-12-08 19:05] chrisdrackett opened #43 "better support for when .flowconfig isn't at project root"
Right now if you are only using flow in a sub-directory of your project the linter will fail. Ideally when opening a file the linter would find the .flowconfig file in the nearest parent directory, start a flow server for that directory if one isn't already open, then poll the flow server for errors in that directory.

[2015-12-08 23:13] Adezandee commented on #43
Hi @chrisdrackett
That's a concern that should be raised in `atom-linter`, because we are already looking for .flowconfig in parent folders with `atomLinter.findFile(filePath, '.flowconfig')`

[2015-12-08 23:14] steelbrain commented on #43
@Adezandee `atom-linter` already searches for given file up to root

[2015-12-08 23:31] Arcanemagus commented on #43
Specifically it searches for it [here](https://github.com/AtomLinter/linter-flow/blob/v4.0.1/lib/index.js#L86), and ensures the running server has that path [here](https://github.com/AtomLinter/linter-flow/blob/v4.0.1/lib/servers.js#L15).

Do you have an example directory structure where this isn't working properly?

[2015-12-09 00:48] chrisdrackett commented on #43
maybe I'm having another issue. When I start the editor I get a blue notification that flow has started (and I can see it running) then I get a red one saying that flow could not be spawned.

[2015-12-09 06:19] nmn commented on #43
My best guess is that atom couldn't find the flow executable. Try setting the path to the flow executable in the linter-flow settings.

Use this to find the path:

[code]

[2015-12-09 20:00] #43 closed

[2015-12-09 20:07] chrisdrackett opened #44 "External server detected"
I'm having an issue where the linter is not working for me. I'm pointing to flow in the settings using the full path `/usr/local/bin/flow`. When I open a file with `/* @flow */` I get a blue message that flow is starting then another blue message that an external server was found. Flow will then work for a couple second before I get: http://cl.ly/0B3k200k2W2C

If I use flow via the command line it

[2015-12-10 07:13] nmn commented on #44
@chrisdrackett Can you please check if saving vs not saving a file makes a difference to the workings?

The current implementation uses your current editor state to edit on the fly, but checks the entire project whenever you save with 'flow check'. Either the flow server is source of the error, which @Adezandee or perhaps one of the two commands are being a little buggy.

Further, can you confirm

[2015-12-10 21:51] chrisdrackett commented on #44
I'm using `0.19.1` at the moment. If I run `flow check` in the console it takes about 18 seconds where flow is instantaneous. I wonder if that is somehow the issue? I've never run `flow check` before so I don't know much about it.

[2015-12-10 22:02] chrisdrackett commented on #44
from my understanding of `flow check` it seems redundant and costly to ever run as it (I think) will always start up a new server?

[2015-12-11 04:01] nmn commented on #44
That is probably the problem. Flow changed the functionality a bit recently. We should probably switch to flow status instead of flow check. I'm gonna be away this weekend. So hopefully someone else can pick this up. Should be a straightforward fix.

[2015-12-14 23:53] chrisdrackett commented on #44
ok, I've disabled the package for now as its basically unusable in its current form (and has been making atom hang.)

[2015-12-15 20:39] AgentME commented on #40
I had restarted several times and still had the issue. I stopped using linter-flow for a few weeks, but haven't seen the issue again since using it again. I'm on OS X.

[2015-12-15 20:42] AgentME opened #46 "Notifications [Close All] button doesn't work"
Every time when I start up Atom on a project with Flow, these notifications appear for a few seconds and block access to some of my tabs. There's a [Close All] button on them which seems like it would be handy, but it doesn't work. (Are these notifications maybe provided by linter or Atom itself? Maybe the issue should be for one of them.)

![screen shot 2015-12-11 at 2 40 21 pm](https://cloud.git

[2015-12-15 20:45] Arcanemagus commented on #46
Those notifications are handled by Atom, and the Close All button should definitely work. If it isn't working you should file an issue over on the Atom issue tracker.

Marking as closed since this isn't an issue with linter-flow, although please reference any issue file here so we can follow the progress :wink:.

[2015-12-15 20:45] #46 closed

[2015-12-15 22:52] nmn commented on #40
There were some bugs in Atom that have recently been fixed. May have been the root of the issue.

[2015-12-16 19:33] braco commented on #32
Just installed, getting this issue on OSX. flow is located in /usr/local/bin/flow. Fixed via config.

[2015-12-16 21:01] braco opened #47 "Many `flow check` processes spawned"
Is this a problem?

[code]

(command-S to save file)

[code]

Saving the file more times just yields more spawned processes:

[code]

ps is filled with the exact same command:
[code]

Running the command manually reveals that the `flow check` command hangs.

[2015-12-16 21:25] nmn commented on #47
I'm looking into this already, but I'm pretty busy these days. I think switching from flow-check to flow-status makes sense though.

[2015-12-16 22:30] Arcanemagus commented on #47
See also the discussion here: https://github.com/AtomLinter/atom-linter/issues/81.

[2015-12-17 04:48] gnestor opened #48 "linter-flow spawning 12 instances upon opening a project"
When I open a project when linter-flow is enabled, my CPU starts working really hard and when I check Activity Monitor, I see that there are 12 instances of flow running. Is this expected? How can I use Flow and/or linter-flow without burning up my CPU?

<img width="1280" alt="screen shot 2015-12-16 at 8 41 36 pm" src="https://cloud.githubusercontent.com/assets/512354/11861524/077b9eea-a436-11e5-8

[2015-12-17 13:13] steelbrain commented on #48
Dupe of #47

[2015-12-17 17:37] #48 closed

[2015-12-18 21:39] Adezandee commented on #44
@nmn I take a look at this asap :+1:

[2015-12-18 22:35] #44 closed

[2015-12-18 22:51] nmn commented on #47
Is this fixed in the latest release?

[2015-12-18 22:52] nmn commented on #40
Since you don't see this issue anymore, and I can't reproduce it, I'm closing this issue for now.

[2015-12-18 22:52] #40 closed

[2015-12-31 09:30] chenglou opened #50 ""flow is rechecking; this should not take long" from flow 0.20.1 treated as error"
For Flow 0.20.1 (and maybe under?), there's a new message that temporarily appears at the command line: "flow is rechecking; this should not take long". This is misinterpreted as an error and displayed so:

![screenshot 2015-12-31 04 30 05](https://cloud.githubusercontent.com/assets/1909539/12063129/38dfc6c2-af77-11e5-97fd-2c026d3c75de.png)

[2015-12-31 18:51] nmn commented on #50
I'll take a look at this. My personal opinion is that we should have fewer notifications in general.
@Adezandee ?

[2015-12-31 19:14] Arcanemagus commented on #50
Looks like `flow` is outputting that to the `stderr` stream, and helpers is expecting output only on `stdout`. This might be as simple as specifying the `throwOnStdErr` option to it in the options [here](https://github.com/AtomLinter/linter-flow/blob/v4.1.0/lib/index.js#L101-L104).

Haven't tested though :stuck_out_tongue:.

[2016-01-23 10:55] dchambers opened #54 "Flow server isn't spawned even when path is set -- fails silently"
**Symptoms:**

  1. When I didn't define the path then I got an error telling me it was unable to start the server, even though the path is defined globally.
  2. If I purposely set the path incorrectly then I got an error telling me it couldn't spawn the process.
  3. If I set the path correctly then it looks like it's spawning, but I never get any linting errors, including non Flow linting error

[2016-01-24 03:15] nmn commented on #54
I don't really know enough about how environments are loaded for GUI apps, but the 3rd symptom above concerns me. If the flow server starts correctly, it should lint your code correctly, or at least show some errors. I'll investigate into that.

If someone else has the answer about why atom can't access cli tools when not opened from the command-line I'd be very interested.

[2016-01-24 04:07] Arcanemagus commented on #54
If you are on OS X, you already linked one of the (many) comments where I explain why it's broken... that being said the `atom-linter` helper library has had a utility in it since v4.2.0 which _should_ be fixing this issue on OS X, maybe we just need to bump the minimum version that this plugin requires @nmn?

[2016-01-24 23:25] dchambers commented on #54
Just to be clear, the Flow server isn't being started correctly (a `ps -ef | grep flow` shows that it's not running) but I guess the plug-in is happy that it was able to fork the process, and doesn't then concern itself with the fact the process terminates early because some environment variables aren't being set.

Given that I'm in a good position to investigate this, tomorrow I'll try and figure

[2016-01-25 07:20] nmn commented on #54
I have no objection to that!

@dchambers that helps a lot

[2016-01-25 23:36] dchambers commented on #54
I just diffed the output of `process.env` inside Atom (using the in-built developer tools) when started from the terminal Vs using the launcher, and the most obvious difference was the lack of  NVM environment variables, and NVM's change to the `PATH` environment variable &mdash; I haven't 100% confirmed that this is the source of the problem yet, but it seems likely.

I'll report back once I figu

[2016-01-26 09:16] steelbrain commented on #54
Just a side note that to fight `$PATH` issue on OSX, we've created [consistent-path](https://github.com/steelbrain/consistent-path) module.

[2016-01-26 10:30] dchambers commented on #54
Thanks @steelbrain, that's really interesting; the onus really is on the GUI apps to change their behaviour. What's surprising to me though is that [consistent-path](https://github.com/steelbrain/consistent-path), [environment](https://github.com/atom-community/environment) & [fix-path](https://github.com/sindresorhus/fix-path) all specifically mention fixing OS X but not Linux, yet [Gnome](https:

[2016-01-26 10:31] steelbrain commented on #54
@dchambers It's because it's a problem on OSX only, if someone is experiencing the same problem on a different OS. It's a misconfiguration in their system

[2016-01-26 10:33] dchambers commented on #54
Thanks @steelbrain, sounds like I need to evaluate how I installed NVM then and figure out what I did wrong.

[2016-02-03 10:54] trodrigues commented on #50
Yeah, this is quite annoying and distracting :(

I tried @Arcanemagus suggestion and it seems to work, although the whole linter functionality seems to be acting a bit weird now (not always linting on changes), but I'm not 100% sure it's related to this.

I'll report back if I find this is related.

[2016-02-03 11:08] trodrigues commented on #50
Ok, no, this has totally stopped working after I added that option :(

[2016-02-11 18:55] nmn commented on #50
I'm getting similar problems. using flow 0.17 works great. But flow 0.20 and 0.20.1 have serious problems with linter-flow.

Flow itself is at least partly to blame here, as even when using it from cli, the server would re-start way too often.

[2016-02-17 19:01] AgentME opened #63 "TypeError when file can't be found on start and then on every keypress in that tab"
I got this error message in a red notification when I started Atom. When I last started Atom in this directory, I had a file named "foo.js" opened, so Atom started up with a tab for that file, but the file no longer existed. I can reproduce the error by repeating these steps. Then, if you type in the tab, this error fires again on every keypress.

[code]

[2016-02-17 19:16] AgentME opened #64 "Doesn't show errors in files in /tmp on OS X"
/tmp/foo/foo.js

[code]

Assuming Atom is opened in /tmp/foo, and `flow init` has been run in the directory. Running `flow` shows the error, but linter-flow doesn't show any issues in the file /tmp/foo/foo.js. It reports 1 issue in the project in the status bar. Clicking the "1 issue" button causes /private/tmp/foo/foo.js to be opened, which shows the same contents, with a red squiggly line correc

[2016-02-17 19:21] AgentME opened #65 "Doesn't show errors in files if flow strip_root setting is on"
If your .flowconfig file has `strip_root=true` in the [options] section, then linter-flow will only show squiggly lines under errors if the file has any unsaved changes.

(I'm not really clear what that setting is good for. Doesn't seem to make any difference in the output of manually running `flow`. Just found someone had turned it on in a project and I was confused as to why linter-flow was acti

[2016-02-17 19:34] AgentME commented on #50
On one large project, I get this error notification about five seconds after almost every single time I save any changes to a file.

[2016-02-17 21:30] nmn commented on #50
Ive got a branch on GitHub that fixes this. I need to do some cleanup on it though.

[2016-02-20 04:28] nikgraf opened #67 "Use npm package flow-bin by default"
The binary wrapper for Flow is becoming more & more popular. I suggest to take the local flow version as default for the linter. Optionally developers could opt-out from this in the linter-flow package settings.

see https://github.com/flowtype/flow-bin

[2016-03-02 03:46] artyomtrityak commented on #54
same issue, i was trying to use local / global flow, launch from terminal - no luck.

Local flow issue

[code]

[2016-03-02 06:00] artyomtrityak commented on #54
Issue solved if i open atom as

[code]

So it gets access to env variables

[2016-03-08 19:06] ben-eb commented on #67
:+1:

[2016-03-09 22:57] elliottsj commented on #36
`suppress_comment` appears to work for me now using recent flow versions. Currently using v0.22.1.

[2016-03-09 22:57] #36 closed

[2016-03-19 12:23] balupton commented on #67
It could also be a fallback, if `./node_modules/.bin/flow` does not exist, then fallback to `flow`.

https://github.com/bevry/safeps has a lot of advanced autodetection for paths around this

[2016-03-20 03:20] nmn commented on #67
sounds good to me. But there's a PR that we're about to merge right now. Will look at this next.

[2016-03-20 03:55] Arcanemagus commented on #67
This _has to_ be a fallback, as it's not compatible with Windows so forcing this would cut out an entire platform...

[2016-03-21 15:05] AsaAyers opened #75 "linter-flow complains about missing .flowconfig in files not using flow"
I don't have a `/* @flow */` anywhere in my project, but it just keeps popping these up.

![selection_537](https://cloud.githubusercontent.com/assets/324999/13922883/a602e276-ef54-11e5-93a7-921813629c39.png)

[2016-03-21 18:26] Arcanemagus commented on #75
Are you on v5.0.0? [This bit](https://github.com/AtomLinter/linter-flow/blob/v5.0.0/lib/index.js#L76-L82) of code is what is currently checking for flow files, which should only pass if the first comment matches `/\/*.+@flow.+*\//` (essentially).

[2016-03-21 21:55] AgentME commented on #75
That code has a bug. If it can't find a `/* ... */` comment on the first line, that code decides it must be a flow file. It should be

[code]

Though really that's too strict. That doesn't work with `// @flow ` or

[code]

which is common in Flow's own examples.

[2016-03-21 22:05] Arcanemagus commented on #75
@AgentME actually it checks for that in the entire text, not just the first line. It does assume that _somewhere_ in the file there is a `/* ... */` comment though, which if that isn't true if falsely assumes it is a flow file.

This should probably be checked with a regex, but just changing the `&&` to `||` as you suggest would fix the false positives. Do you want to submit a PR for that? (And th

[2016-03-21 22:12] AgentME commented on #75
@Arcanemagus Oh right. Yeah, I'll send in a pull request of something that looks right in a second, but you'll need to test it for me.

[2016-03-22 00:47] AsaAyers commented on #75
I am using 5.0.0 and just to make sure it wasn't triggering based on a different tab I closed all but one tab.

![selection_538](https://cloud.githubusercontent.com/assets/324999/13938862/0315a6fa-efa6-11e5-9323-9ae901707338.png)

[2016-03-22 01:29] nmn commented on #75
@AgentME it does work with
[code]

But there's definitely a bug here. I'll revert the comment detection to the old logic that simply looks for the string '@flow' somewhere on the file.

[2016-03-22 01:31] nmn commented on #47
I think this is fixed now. Open a new issue if not.

[2016-03-22 01:31] #47 closed

[2016-03-22 06:55] cameronhimself opened #78 "Errors/warnings only detected for files that are in an unsaved state"
Steps to reproduce (for me, anyway):

1. Open a saved file that is known to contain flow errors. Linter displays no errors.
2. Start typing anything. Linter immediately starts displaying all errors.
3. Either undo or manually bring the file back to its saved state and the linter errors disappear again.
4. Start typing again so that the errors once again show up.
5. Save the file. Errors immediatel

[2016-03-22 08:29] nmn commented on #78
This is interesting. Looks like the flow cli has changed a little. I'll look into it.

[2016-03-22 08:42] nmn commented on #75
I'm mostly done with a fix for this. I've also added a throttle on that particular warning so you only see it once every 5 minutes at most.

[2016-03-22 08:43] nmn commented on #65
related #78

[2016-03-22 08:44] nmn commented on #65
Can you check what you get when you run `flow status`?

[2016-03-22 08:48] nmn commented on #50
The newest release fixes this. The code is probably not ideal, but it works.

[code]

[2016-03-22 16:25] dmfenton opened #79 "Keep a Change Log"
It would be helpful to know what's changing between versions. Especially with major version changes.

I follow https://keepachangelog.org for my projects and the burden is very low.

Thanks for your effort!

[2016-03-22 17:29] cameronhimself commented on #78
So it turns out that this is the behavior I see for a file that _does not_ have the `// @flow` comment at the top. When I add the comment, everything works as expected.

So I guess this issue report is now about how flow is enabled for unsaved files even when the comment tag is not present. My `.flowconfig` file is empty (no changes made to it after `flow init`).

[2016-03-22 19:37] nmn commented on #79
Fair Enough. I can start writing stuff down with the latest major version.
Ideally I want to use something to auto-generate the changelog from git commits.

[2016-03-22 19:38] dmfenton commented on #79
Thanks!

I don't really think it's ideal to use git-commits. Those are already available to me, but it's not always clear what they mean or what's in what release.

[2016-03-22 19:46] nmn commented on #79
If we do use git commits, we'll have to get better at writing them too.

Anyway added a changelog in #80

[2016-03-22 19:48] nmn commented on #78
This was regression in v5.0.0 where the detection for the `@flow` comment was broken.

`// @flow` is ignored
`/* @flow */` is accepted.

If there is no inline comment in the file, it would incorrectly assume the comment exists.

Fixed in #80

[2016-03-22 19:49] nmn commented on #75
Fixed in #80

[2016-03-22 19:50] nmn commented on #63
should be fixed in #80
Though I haven't been able to reproduce it.

[2016-03-22 19:50] nmn commented on #50
Fixed in #80

[2016-03-23 02:25] krainboltgreene opened #81 "Suddenly doesn't work? Was working last night"
<img width="909" alt="screen shot 2016-03-22 at 7 22 57 pm" src="https://cloud.githubusercontent.com/assets/334809/13973761/8316af62-f063-11e5-8a3b-357dfdccba22.png">

[2016-03-23 04:00] Arcanemagus commented on #81
Is flow installed? What does `which flow` return?

[2016-03-23 04:24] krainboltgreene commented on #81
Flow is installed:

[code]

But not globally:

[code]

[2016-03-23 04:37] Arcanemagus commented on #81
What do you have entered into the settings for `Executable Path`?

[2016-03-23 04:45] krainboltgreene commented on #81
Nothing, but I have tried ./node_modules/.bin/flow

[2016-03-23 05:28] Arcanemagus commented on #81
As the description for that field states, you need to enter the _full_, absolute, path to `flow` there, this package doesn't seem to currently support detecting it in the local project's folder (Like it seems you are currently doing).

Simply installing it globally and pointing that path there should do the trick.

[2016-03-23 05:33] krainboltgreene commented on #81
I don't want to install it globally.

Quite frankly since it worked _yesterday_, before updating, and now it
doesn't, I'm not quite sure why I have to install it globally now?

[2016-03-23 05:47] Arcanemagus commented on #81
The path to execute from is set to the directory of the file [here](https://github.com/AtomLinter/linter-flow/blob/v5.0.0/lib/index.js#L100) and [here](https://github.com/AtomLinter/linter-flow/blob/v5.0.0/lib/index.js#L103) (the two possibilities). Since there is no actual check that the path _really_ is absolute, I'm guessing that what was going on is that you were editing a file in the root of

[2016-03-23 05:49] Arcanemagus commented on #64
Have you tried simply putting that folder into the ignore pattern in `linter` itself? This isn't really part of the scope of a linter plugin...

[2016-03-23 05:55] AgentME commented on #64
I'm not sure I understand. Linter-flow doesn't report the errors, but running flow from the command line sees the file fine and shows the errors in it.

[2016-03-23 06:00] krainboltgreene commented on #81
I haven't changed where I opened the editor, either. It's a part of my iterm2 window arrangement profile :/

[2016-03-23 06:02] Arcanemagus commented on #81
Not where you opened the editor, but which file you are editing. If you are editing any file other than one in the root of the project the path you have entered will not work.

[2016-03-23 06:03] krainboltgreene commented on #81
Promise I'm doing the same thing I was doing yesterday. There may have been a linter update in between, but I haven't changed my behavior or system.

[2016-03-23 06:06] Arcanemagus commented on #64
Sorry, I completely missed the fact that it's _not_ doing that, and that you want it to, instead of the opposite of that.

When you run `flow status --json` what is the path reported back by `flow`? I'm guessing that it's reporting back `/private/tmp/foo/foo.js` even though you are in `/tmp/foo/`.

[2016-03-23 06:07] Arcanemagus commented on #81
You can try rolling back to v4.1.0 with `apm install linter-flow@4.1.0`, v5.0.0 was released 2 days ago and introduced some changes in how `flow` is ran.

[2016-03-23 06:10] AgentME commented on #64
Yeah, it is:

[code]

[2016-03-23 06:10] krainboltgreene commented on #81
Hmm, that seemed to fix it? I'll wait until the next few PRs to see if they resolve my issue. I appreciate the assistance @Arcanemagus

[2016-03-23 06:11] Arcanemagus commented on #81
@nmn I'm not that familiar with `flow`, do you know what changes in v5.0.0 might have broken this? Does #80 fix this?

[2016-03-23 06:14] Arcanemagus commented on #64
Ah, this is an upstream `flow` issue then.

As this is a project scoped linter we are relying on `flow` to return the proper path in its messages to identify what files in the project the messages belong to. Can you file an issue on [their repo](https://github.com/facebook/flow) about this referencing this?

[2016-03-23 06:14] #64 closed

[2016-03-23 06:15] nmn commented on #81
I changed the version of `atom-linter` that may have caused this break. I can take a look at this next.

[2016-03-23 06:17] Arcanemagus commented on #54
As this project is using `atom-linter.exec()` it should be inheriting the workarounds for OS X's `PATH` limitations from there. If you are still experiencing this please file a new issue to diagnose what is going on.

[2016-03-23 06:17] #54 closed

[2016-03-25 10:33] MoOx commented on #75
FYI, I am getting this issue in a project where there is not a single `@flow` nor config file. Are you ignoring node_modules?

[2016-03-25 13:48] AsaAyers commented on #75
Why would the linter even scan files that aren't open? If you haven't opened a flow file yet it definitely doesn't need to be active.

[2016-03-27 17:58] ericwooley commented on #75
Ideally, this plugin would disable itself if no flowconfig file is found. Not all my projects use flow.

[2016-03-27 18:41] AsaAyers commented on #75
It did before 5.0.0, but I've had to just turn this plugin off last week when it became so noisy.

[2016-03-27 21:36] nmn commented on #81
@krainboltgreene would love to know v5.1.0 fixed it.

[2016-03-27 21:37] nmn commented on #79
Done in v5.1.0

[2016-03-27 21:37] #79 closed

[2016-03-27 21:37] nmn commented on #78
Should be fixed in 5.1.0

[2016-03-27 21:37] nmn commented on #75
Fixed in 5.1.0

[2016-03-27 21:39] #75 closed

[2016-03-27 21:39] nmn commented on #63
Fixed in 5.1.0

[2016-03-27 21:39] #63 closed

[2016-03-27 21:39] nmn commented on #50
fixed in 5.1.0

[2016-03-27 21:39] #50 closed

[2016-03-27 22:02] nmn commented on #67
I've added an issue for @steelbrain on his package that implements the atom-linter exec method we're using for this linter.

Using the `npm-run` package this could be solved quite easily. It simply adds the current node_modules bin folder on the $PATH. This way the linter can look for the flow executable locally, but falling back to a globally installed version.

[2016-04-19 12:27] mookraiser opened #88 "Fail on Windows (flow 0.19.1)"
using flow **0.19.1** on windows fail. It seems that the output is not redirected properly.

**Note**: even outside atom, flow complains about `Error: Tail.open_in_opt: Couldn't open file` but then, output properly the source code errors.

this what I see in Atom:

[code]

[2016-04-19 20:02] nmn commented on #88
I don't have a windows machine to test this, but I do have a bug-fix in progress.

There is a whitelist of expected errors that flow throws when the server isn't ready. The `Initializing Server` error has to be added to that whitelist. That may fix it.

[2016-04-20 07:51] mookraiser commented on #88
I made a wrapper in C# around flow to see what's happening. Basically I redirect the stdout and stderr and log everything. During my tests I saw my wrapper finally works with linter-flow. So there is definitively some issues regarding how linter-flow handle the output of flow process.

"flow status" does not return, I don't know why. Is it the case on linux ? so I replaced your calling parameter b

[2016-04-20 11:14] mookraiser commented on #88
I tried to get into your code, but I'm a newbie in Atom plugins.
it seems that this line of code is not good:
[code]
you run flow in the same folder of the file. You should run it in the folder where **.flowconfig** is.
On windows, flow generate 7 files **slave_<n>.log** where he's running, so it trash completely my sources.
Using my wrapper, I fixed that so it is running in the same folder than *

[2016-04-20 11:56] mookraiser commented on #88
when I close Atom, ``flow stop`` is performed in the atom folder (on windows it is ``C:\Users\me\AppData\Local\atom\app-1.7.2``) instead of the project, so it does not found the **.flowconfig**
[code]
exit code is 12

[2016-04-20 15:55] qm3ster commented on #64
This seems to still be the case.
Is there a way I can use the plugin in its current state?

[2016-04-20 16:15] Arcanemagus commented on #64
@qm3ster If you read the previous comments in the issue you can see that this is an upstream issue in `flow` that we have no control over, or ability to fix. Please file an issue over there as it seems that @AgentME didn't get a chance to.

[2016-04-20 19:47] nmn commented on #88
`when I close Atom, flow stop is performed in the atom folder`
This is real bug we can look into.

Also thanks for all the awesome debugging work you've done. We're not going to remove `check-contents` as linter cannot without lint on the fly without it. If you don't need that feature, I suggest you try nuclide.

That said, there is a real possibility that something is breaking because file paths

[2016-04-21 09:10] mookraiser commented on #88
I think running flow in the file folder is also a bug. It should run in the same folder than **.flowconfig**

[2016-04-26 16:37] qm3ster commented on #64
Oh, I thought he surely must have filed it, I just couldn't find it because they have a lot of open issues. A lot.
I also imagined there might have been a workaround found in the meantime.
Perhaps with this behavior being consistent for such a long time, this package should adapt to `/private/tmp/foo/foo.js` being returned?
Finally, I am not confident enough in my understanding of the problem to f

[2016-04-26 16:42] Arcanemagus commented on #64
Unfortunately we can't really work around this here.

We ask `flow` to run a lint, and the results it returns can have errors for _any_ file in the project, not just the file that the lint was triggered on. This means we have to rely on `flow` to return back the proper file path in order to associate it back with the right file inside Atom. Since `flow` is returning a path entirely different from

[2016-04-26 18:57] AgentME commented on #64
I don't think flow is doing anything wrong. Flow is always reporting the absolute paths of files, resolving all symlinks. Running `realpath /tmp` returns "/private/tmp".

I think the issue might've been Atom's fault. Maybe Atom usually resolved the absolute path of files, but didn't resolve /tmp. However, I can't reproduce the issue with linter-flow and Atom 1.7.2 now, so maybe that got fixed.

[2016-04-28 08:39] qm3ster commented on #64
After messing about more, I started getting flow spawn ENOENT errors every time a linting would trigger.
Reinstalling any part separately did not work, it stayed the same.
But rebooting, not running Atom at all,
`apm remove linter-flow`
`npm remove -g flow`
rebooting again
`npm install flow`
`apm installl linter-flow`
and only then opening Atom has finally, for the first time, made it work.
Life i

[2016-04-28 17:31] Arcanemagus commented on #64
@AgentME I would consider it a bug in `flow` if you ask it to lint `/some/path/to/foo.js` and it reports back messages about `/a/completely/different/path/to/bar.js`. But I guess that's a matter of opinion... with _every_ other linter falling on the side of "Messages should be reported on what it was actually called on, not the de-referenced location"...

@qm3ster That sounds like a PATH issue, no

[2016-04-29 17:07] qm3ster commented on #64
Ok, I was completely stupid.
For some reason it only works when atom is started from console. Other linters do not have this problem.
The launcher calls **Exec=**`/opt/atom/atom %F` but I tried changing it to `atom %F` and sh -c 'atom %F' and permutations of all 3 without the %F parameter, but in all cases it's spawn flow ENOENT.
Calling it from console, in any current directory, or directly with

[2016-04-29 17:11] Arcanemagus commented on #64
Actually @qm3ster Apple had the bright idea to launch applications from the GUI with a _completely_ empty environment... so unfortunately it does _not_ have the same environment as being launched from a terminal.

We have several workarounds in place to attempt to get a useable environment when launching programs, but it's not perfect which is why there is an Executable Path setting that allows yo

[2016-04-29 18:06] qm3ster commented on #64
This seems to be the case, yes.
I noticed that if I put `/home/qm3ster/.nvm/versions/node/v5.7.0/bin/flow` in **Executable Path**, running from the launcher gives the following instead:
[code]
(Running from `atom` is fine)
Turns out the same thing would affect linter-eslint, I just forever had `/home/qm3ster/.nvm/versions/node/v5.7.0` set as **Global Node Installation Path**, and it ships its own

[2016-04-29 18:20] Arcanemagus commented on #64
v1.7.0 already introduced some workarounds within Atom, it's not ideal, but it helps.

If you want to help debug why this in particular is failing you can file an issue on [consistent-env](https://github.com/steelbrain/consistent-env) as that is (eventually) what is providing the environment that is used to execute this package.

`linter-eslint` operates entirely differently from this package, and

[2016-04-29 18:54] qm3ster commented on #64
I could essentially reproduce this problem on that package, so I thought you could use the same crutch until this is fixed proper.
I currently shoved **Exec=**`env PATH="$PATH+:/home/mihail/.nvm/versions/node/v5.7.0/bin" /opt/atom/atom %F` into my **Atom.desktop**.
The problem seems to be with the fact that my node is installed not under root user but using nvm, so it doesn't make it into /etc/env

[2016-04-29 23:58] Gozala opened #92 "Please provide busy indicator similar to nuclide"
I work on larger project & it often takes flow relatively long time to type check. Unfortunately with this package I can't tell if everything type checked fine or if flow is still busy trying to recheck.

Maybe you could provide integration with https://github.com/steelbrain/busy-signal/wiki/Busy-Signal-API or something else to provide some feedback on weather type check was successful or is still

[2016-04-30 00:39] steelbrain commented on #92
I think this is blocked on the new linter release, because this feature has already landed in https://github.com/steelbrain/linter-ui-default

[2016-04-30 03:55] Arcanemagus commented on #92
Also this has absolutely nothing to do with linter providers such as this...

[2016-04-30 03:55] #92 closed

[2016-04-30 10:48] anthillape commented on #78
My colleagues and I are still seeing the behaviour seen in the original issue, with the same steps to reproduce. I tried changing the flow comment, however, none seems to work as expected. I am on 5.1.0, atom 1.7.2 osx 10.11.1, with linter 1.11.4 here is a file that displays this behaviour:

[code]

[2016-05-20 09:59] alexbooker commented on #92
@Arcanemagus Is Flow not a special case because it takes so long to initialize and needs to reinitialize every time you install a new [definition file](https://github.com/DefinitelyTyped/DefinitelyTyped/) :confused:?

[2016-05-20 10:09] steelbrain commented on #92
@alexbooker But you can always install `linter-ui-default`

[2016-05-20 11:26] alexbooker commented on #92
@steelbrain I just installed it using the instructions in `readme.md` but it doesn't seem to do anything :scream:

[2016-06-03 20:48] Emilios1995 opened #104 "This is not working"
Sorry for not being more specific, butI don't know what's wrong.
I've set the correct flow path `/usr/local/bin/flow`, and when I run `/usr/local/bin/flow` or just `flow` in the console on the project folder it finds the errors in my code, but nothing is shown on the linter...
I'm using linter-eslint and that works properly.
Any idea?

[2016-06-03 21:06] Arcanemagus commented on #104
If you open Developer Tools and place a breakpoint [here](https://github.com/AtomLinter/linter-flow/blob/v5.4.0/lib/index.js#L61) is it ever triggered?

[2016-06-03 21:20] Emilios1995 commented on #104
Yes, it is.
But I think I found a hint, when I run `flow` on the console, I see the following:
[code]

[2016-06-03 23:20] nmn commented on #104
@Emilios1995 I don't think that message will show up again. That only happens when you update flow.
Still I'm using the plugin on two macs. And a few friends at work are using it on macs as well. And I can't reproduce this bug anywhere. Are you sure you have the `@flow` comment? The plugin doesn't work without that.

[2016-06-06 15:32] gnestor opened #105 "linter-flow does not lint files without `@flow` annotation even when "Enable all" is enabled"
To reproduce:

* Create a JS file with the following:

[code]

* "Enable all"
* Remove the `/* @flow */` annotation
* Linter does not catch the type error

[2016-06-06 16:25] rgoldfinger commented on #104
I'm having the same problem. Flow is returning the errors, but they are all filtered out by this line: https://github.com/AtomLinter/linter-flow/blob/v5.4.0/lib/message.js#L26

Removing this filter (by changing the line to `const blameMessages = flowMessages;`) surfaces some errors but causes other problems.

[2016-06-06 17:37] Arcanemagus commented on #105
What exactly do you mean by `"Enable all"`?

[2016-06-06 17:49] gnestor commented on #105
"Enable all" is one of the 2 config options: https://github.com/AtomLinter/linter-flow/blob/39603f4b1003bddb600883c6de19e1a4a53a7d33/README.md#L24

However, I looked at the source and it looks like it's not implemented...

[2016-06-06 17:57] Arcanemagus commented on #105
Yea, it looks like that option was removed at some point and the readme was just never updated, trying to find where...

[2016-06-06 18:00] Arcanemagus commented on #105
It [looks like](https://github.com/AtomLinter/linter-flow/pull/57#issuecomment-196670773) that option was removed since `flow` versions past v0.22 no longer implement an option that would enable that to work.

[2016-06-06 18:00] #105 closed

[2016-06-06 18:01] Arcanemagus commented on #105
Btw, to make that option no longer show up simply remove it from your `config.cson`, for whatever reason Atom shows _all_ options in the settings, regardless of whether the package implements them or not.

[2016-06-06 18:07] gnestor commented on #105
Ok thanks @Arcanemagus

[2016-06-08 02:50] nmn commented on #104
@rgoldfinger that's a recent change. I'll take a look.

[2016-06-08 16:31] export-mike commented on #88
how can this work on windows? I thought flow isn't supported on windows at the moment?

[2016-06-08 16:42] Arcanemagus commented on #88
@export-mike There are ancient and rather broken versions for Windows, it doesn't really work right now though. See [this mess](https://github.com/facebook/flow/issues/6) for the details 😛.

[2016-06-08 16:47] export-mike commented on #88
@Arcanemagus thanks for sharing :) 👍

[2016-06-09 15:33] rgoldfinger commented on #104
I had a very old version of flow install (20). Everything works after upgrading to the latest version, sorry for the confusion.

[2016-06-10 03:18] nmn commented on #88
flow 0.19 won't really work with the plugin. Flow has changed enough in the mean time for that.

[2016-06-27 19:02] kuuup opened #109 "Warning when importing css file"
Hi!
When I import a css file there is a warning:

`./index.css Required module not found`

[code]

For JavaScript imports it works as expected. I didn't try other file types.

[2016-06-27 22:45] Arcanemagus commented on #109
Uh... what are you _expecting_ to happen? [`import`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/import) is for importing Javascript modules.

[2016-06-27 22:59] kuuup commented on #109
It's not unusual to import css or json files (i.e. with webpack and the right loader). "Module not found" is misleading in this case.

[2016-06-27 23:12] steelbrain commented on #109
This is actually coming directly from [flow](https://github.com/facebook/flow/), you should open an issue there

[2016-06-27 23:14] Arcanemagus commented on #109
FYI, `flow` assumes you are writing ES6(+) code, which would _only_ be using the definition of `import` as I linked above.

[2016-06-27 23:14] kuuup commented on #109
I think you're right. Closing this one.

Thx!

[2016-06-27 23:14] #109 closed

[2016-06-30 20:47] nmn commented on #109
@kuuup You should look into module mapping in your `.flowconfig` to solve this.
Though of course this is a problem you have to solve on the flow level, not the linter level.

[2016-06-30 20:59] kuuup commented on #109
Found a Solution here:
http://stackoverflow.com/questions/36912675/flow-required-module-not-found

[2016-07-06 09:22] MoOx opened #114 "Atom taking lot of CPU when flow bin version is not the same as flowconfig version"
Eg: flow version is 0.28
.flowconfig [version] is 0.27

AtomHelper takes 100% of CPU.

When running flow in CLI

[code]

I guess this plugin does not handle this case correctly and try again and again?

[2016-07-07 02:17] nmn commented on #114
This sounds like an error I caused. I'll fix it soon. As of now the fix is to go to the terminal and manually start the flow server for the current version.

[2016-07-08 09:35] MakuraYami opened #115 "Incorrectly showing 1 flow error as 2 linter messages"
I got a flow errors that splits up in 3 messages (blame + comment + blame), this is a single error. but the way linter-flow handles it is it displays an error for both blames, which give exactly the same output
`[warning] identifier `EventEmitter` Expected polymorphic type instead of module `events`at line 20 col 24`

here is my error for reference

`{"flowVersion":"0.28.0","errors":[{"kind":"infe

[2016-07-09 04:43] nmn commented on #115
@MakuraYami This behavior has been included on purpose. It may be a little more noisy, but it makes it easier to see errors as they happen.

Specially in React, if you fail to pass some required props, the error originates at the Component definition. This way, there is also an error where you use the component where the real error usually lies.

Does that make sense?

[2016-07-11 08:43] MakuraYami commented on #115
Ah, I did not know it would give two different contexts on the same error. I have not tried flow with react all that much, it seemed logical since flow has a array of errors that each one represents one line. Doesn't my separating context's still solve that? if it gives two different context, it will still be 2 Linter messages. There is just no point displaying 2 exactly the same messages when its

[2016-07-21 02:55] fadils opened #122 "Unspecifed option specified on `experimental.strict_type_args`"
[code]

[2016-07-21 06:17] nmn commented on #122
This is a flow error, not a linter-flow error, and pretty self-descriptive.

[2016-07-21 06:17] #122 closed

[2016-08-05 12:27] cristian-sima commented on #88
Hi. Flow is not available on Windows. So is there any way to make it work on Windows?

Currently it does not

[2016-08-05 12:28] cristian-sima commented on #88
See [this message ](https://github.com/facebook/flow/issues/6#issuecomment-236691605)

[2016-08-05 16:23] Arcanemagus commented on #88
Marking this as closed, as you point out @cristian-sima `flow` is now officially supported on Windows.

[2016-08-05 16:23] #88 closed

[2016-08-05 16:25] cristian-sima commented on #88
@Arcanemagus Yes true. It is.

**BUT** `linter-flow` is stil not working

[2016-08-05 16:37] Arcanemagus commented on #88
I'm guessing that will be fixed when https://github.com/AtomLinter/linter-flow/pull/125 is dealt with, it looks like something broke this plugin in v0.29.0.

[2016-08-09 07:15] cristian-sima commented on #88
So, @Arcanemagus why did you close it? It is not resolved

[2016-08-09 18:01] Arcanemagus commented on #88
Because it should have been closed from the beginning? 😛

This was never an issue with this package, but rather `flow`'s complete failure to support Windows for a very long time.

[2016-08-09 21:51] Arcanemagus commented on #88
v5.5.0 is released which should fix this for Windows users. Note that you may need to specify the path to `flow` manually as it seems to only work with the default PATH detection for base folders.

[2016-08-09 21:52] Arcanemagus commented on #104
@Emilios1995 are you still having problems, or can this be closed?

[2016-08-09 21:53] Arcanemagus commented on #81
Marking this as closed due to a lack of response, if you are still having problems please file a **new** issue.

[2016-08-09 21:53] #81 closed

[2016-08-09 21:54] Arcanemagus commented on #78
@cameronhimself  or @anthillape are either of you still experiencing this issue with v5.5.0?

[2016-08-09 21:56] Arcanemagus commented on #65
Closing due to a lack of response. Please respond if you are still having issues in v5.5.0.

[2016-08-10 00:30] AgentME commented on #65
The bug still exists in v5.5.0. Adding `strip_root=true` to the [options] of a fresh or existing project reliably triggers it for me. Does it not for anyone else? I've attached a video in case I didn't describe it right: [bug.zip](https://github.com/AtomLinter/linter-flow/files/410115/bug.zip).
`flow` and `flow status` don't have their output affected by the option.

test.js
[code]

.flowconfig
[c

[2016-08-10 10:21] cristian-sima commented on #88
Even on `v5.5.0` on `Windows` with `flow path` set it **is not working**

[2016-08-10 10:24] cristian-sima commented on #88
Also, even if it is not working, it freezes the atom for a sec after I saved the file

[2016-08-10 10:26] cristian-sima commented on #88
I got a `slave_7.log` file with this content

[code]

[2016-08-10 17:53] Arcanemagus commented on #88
That looks like a `flow` issue, does it work on the CLI for you? v5.5.0 works on my Win10 workstation...

[2016-08-16 09:39] cristian-sima opened #130 "Extremely dangerous behaviour on Windows"
[code]

Hi. I wanted to use the FlowJS on Atom.

I installed it, and then .... wait ... and wait and nothing happened.

I changed the path of flow to "W:/Developer/flow.exe". ----> Nothing.

I changed the path of flow to "W:\Developer\flow.exe". ----> Nothing.

And then, after 30 seconds, I realized  that my laptop is frozen. 😠 😠 💢

With a great difficulty, I managed to see the Task Mananger and t

[2016-08-16 09:50] cristian-sima commented on #130
That's really curious. I've done a `flow --version` and I got this

![image](https://cloud.githubusercontent.com/assets/12199042/17695181/12908928-63b0-11e6-9c7d-19e40c767b6c.png)

[2016-08-16 09:57] cristian-sima commented on #130
I've changed to the last version. Installed the plugin again and again I have the CPU at `100%` without any result in Atom:

![image](https://cloud.githubusercontent.com/assets/12199042/17695377/f72cb23c-63b0-11e6-82b6-87c6195b7f9d.png)

[2016-08-16 16:31] Arcanemagus commented on #130
If I had to guess this is a duplicate of https://github.com/AtomLinter/linter-flow/issues/114, I didn't see that when working on the `flow@0.30.0` update though so I'm not sure what the problem might be...

[2016-08-17 06:14] tomitrescak opened #131 "Error: Unhandled Exception: End_Of_File"
Hi, I keep receiveing following error quite often:

[code]

I have mixed javascript and typescript files. Any idea what could be the problem?

[2016-08-17 17:54] Arcanemagus commented on #131
Do you consistently see this? Are you able to share the files you see this on if so?

[2016-08-28 11:23] coffeedoughnuts commented on #67
Just installed this plugin today (and just started using flow type today, really) and was surprised that it didn't use the local package's flow dependency by default. So 👍 from me :)

[2016-08-28 13:43] steelbrain commented on #67
Yo @nmn Just a ping that it's long done in `atom-linter` :)

[2016-08-28 15:13] #67 closed

[2016-08-28 15:14] steelbrain commented on #67
Why was this closed? The feature of `atom-linter` is not yet used in this package

[2016-08-29 15:53] nmn commented on #67
I tested this locally and it worked with a relative path to flow. I will revisit this and make sure.

[2016-08-31 12:33] samsch opened #134 "Failure to run with: Error: spawn flow ENOENT"
Flow is installed (0.31.1) and works on the command line (server starts, and `flow` prints out flow errors).

If I trigger the linter with the default flow path, I get:
![Error: spawn flow ENOENT](http://imgur.com/9J22teTl.png)

This is the error in the Atom console.
![Uncaught Error: write EPIPE](http://imgur.com/FkaAXOKl.png)

If I set the flow path to my result for `which flow` (`/home/sams/n/b

[2016-09-02 17:15] Arcanemagus commented on #134
The first error I've seen when testing, but was unable to figure out a fix for. The second error is interesting as the exact same issue happens on Windows with older `atom-linter` versions... but that was due to some odd escaping of the command it was doing before running it. I'm not sure how a *NIX based OS would be hitting that...

[2016-09-02 17:52] samsch commented on #134
Erm, I just realized I did forget the specific OS in the report. I'm running Xubuntu 16.04.

Yesterday I ended up installing Nuclide, and upon having an issue with flow there as well, I dropped n in favour of nvm. I'm suspicious that n creates some weirdness with paths and global npm package executables, as I was able to get flow working with Nuclide for a while yesterday (it's back to not working

[2016-09-04 12:11] DanielHoffmann commented on #134
I am having the same problem in Linux Mint 18 (which is based on Ubuntu 16.04 LTS) Atom 1.9.8

[2016-09-05 08:52] cristian-sima commented on #114
@nmn  Anything on this?

[2016-09-06 16:44] nmn commented on #114
Sorry I've been on vacation. I'll fix this today.

[2016-09-07 08:47] cristian-sima commented on #114
Great. Waiting for it ⏩

[2016-09-21 17:44] arvigeus commented on #134
`npm install --save-dev flow-bin`
And then set executable path in plugin's settings to
`./node_modules/.bin/flow`
(unix)

[2016-09-23 13:30] ericnkatz commented on #114
Anything I can do to help fix this?

[2016-09-23 14:14] samsch commented on #134
I have managed to get this, ide-flow, and Nuclide's flow stuff working at different times, using things like @arvigeus suggestion, as well as between installing/uninstalling plugins and such. I'm feeling a bit defeated by the last attempt though.

Nuclide doesn't support Atom 1.9, and several things were broken, so I uninstalled that, and I update to the latest version of Node. After that, ide-flo

[2016-09-23 16:18] cristian-sima commented on #114
I will be glad if you can do anything to solve this 👍

[2016-09-23 16:43] ericnkatz commented on #114
As of today this is still the best solution to side step this issue.

[2016-09-24 22:02] nmn commented on #134
@samsch You're on Xubuntu so I'm not totally sure, but something similar happened on OS X a while ago. The problem was that when Atom started up it did not have the `$PATH` configured correctly. So it couldn't find `flow` or `node`. Setting the absolute path to `$ which flow` will only solve half the problem.

The workaround, at least on OS X, was to always open Atom from the terminal. Try quittin

[2016-09-24 22:03] nmn commented on #131
Funnily, I started getting these errors recently too. But from a `linter-eslint`.

[2016-09-26 13:00] samsch commented on #134
@nmn Huh, that does indeed work. I hadn't paid attention to opening Atom via the app launcher vs the command line, and I tend to do both depending on what I'm working on.

So yeah, I tested both, and using the app launcher I get the above errors with linter-flow (as well similar stuff from ide-flow), and flow checking fails. When I start Atom from the command line, linter-flow and ide-flow work ju

[2016-09-27 05:16] #134 closed

[2016-09-28 09:13] note89 opened #141 "Relative path for better support for multiple projects"
Hi i would like to use a relative path so that i can use
`./node_modules/.bin/flow`
in my projects.
[code]

From what i can see in it seems to be implemented. So maybe update the docs ?

[2016-09-28 17:59] Arcanemagus commented on #141
The path would be relative to where your `.flowconfig` file is found... which may not be the project root. I'm not sure I really want to note all the complexities that could be affecting that in a setting description.

If you want to write something up for just the readme though send in a PR and I'd be happy to review it 😉.

[2016-09-29 21:30] bgeihsgt commented on #131
@Arcanemagus here's a file I'm consistently seeing this on:

[code]

Callstack:

[code]

[2016-09-29 21:31] bgeihsgt commented on #131
It pops up regularly any time I'm typing. I need to disable the package when working in certain files :/

[2016-09-30 08:05] nmn commented on #131
I think this is an issue with the `linter` package itself. Ive seen this error on and off in both linter-flow and linter-eslint.

[2016-09-30 15:42] Getyourneed commented on #32
I met the same problem after installing g++ with my atom opening, and I have solved it by restarting my atom.

[2016-09-30 17:02] bgeihsgt commented on #131
@nmn If that was the case, then why would the problem go away when I disable `linter-flow` but keep `linter-eslint` on?

[2016-10-03 08:36] nmn commented on #131
@bgeihsgt I don't know. I'm just reporting what I've experienced personally.

Lately, I can't reproduce the error at all. But if you could open up the console when you see this error and send us the stack trace that would be very helpful.

[2016-10-05 22:39] bgeihsgt commented on #131
@nmn I opened up the console and repro'd the red box but saw nothing on the console. Is the strack trace from the red box not sufficient?

[code]

[2016-10-05 23:14] Arcanemagus commented on #131
Unfortunately the only part of that stack trace that means anything is `Unhandled exception: End_of_file`, which is coming from the `stderr` output of the command (`flow`). Why `flow` is returning that is the question...

@nmn I've yet to see a report on `linter-eslint` that shows that, are you sure it's not just `flow` running on the same files and hitting the same thing?

[2016-10-05 23:16] Arcanemagus commented on #131
Possibly related to https://github.com/facebook/flow/issues/1693, it looks like there are a few different issues over there related to this message.

[2016-10-06 13:31] #130 closed

[2016-10-10 23:25] chrissm79 commented on #104
Having the same issue... I have Flow v0.33 installed in `/usr/local/bin/flow` which has been added to the settings but I don't see anything from the linter. If I run `/usr/local/bin/flow` in the command line it displays the errors in the project.

[2016-10-25 21:29] tonyxiao opened #146 "Support for options.all=true"
https://flowtype.org/docs/advanced-configuration.html#options

It's possible to turn flowtype on for all files by default in a repo.

However linter-flow does not seem to understand that and therefore does not highlight issues in editor.

[2016-11-04 11:01] cristian-sima commented on #114
Guys I solved it.

So, I deleted my absolute path to flow.js. Then I inserted this path `./node_modules/.bin/flow`

And it does not consume memory and it works !!!

[2016-11-04 11:02] cristian-sima commented on #114
I feel it was a somehow conflict between my absolute `flow.exe` and the node version from `bin` folder

[2016-11-05 23:54] ianwremmel commented on #141
As far as i can tell, the problem is that `executablePath` is not an absolute path, but in fact a relative path.

I think a fair bit of user pain could be saved by
1. Changing the description of `exectuablePath` to "relative path to your project's .flowconfig to your flow executable
2. Defaulting `executablePath` to `node_modules/.bin/flow`

I think this would also permanently solve the problem de

[2016-11-09 00:43] jda0 opened #150 "Ignores "Do Not Lint Files Ignored By VCS" in linter"
It is not clear if this is a problem in `linter` or `linter-flow`

Reproduce:
- Tick "Do Not Lint Files Ignored By VCS" in `linter` package settings
- `npm install flow-remove-types flow-bin`
- `echo "" > .gitignore`
- `touch .flowconfig`
- `echo "// @flow" > index.js` [or create file on Windows]

Now open `index.js` and `Project` has 13 warnings from `\node_modules\flow-remove-types\test\source.j

[2016-11-10 22:30] stevenla commented on #146
The option `enableAll` doesn't get respected at all. I still have to include `// @flow` at the top of my files for the linter to catch them

[2016-12-08 00:21] Arcanemagus commented on #146
It seems that since this issue was filed `flow` itself has changed enough that this issue's _text_ makes no sense (there is no `enableAll` option in this package or in `flow` from what I can see).

That being said, it seems that the flow documentation implies it runs on all files by default now, I'm not entirely sure what that means or how to handle it here. Should we just keep the current scope l

[2016-12-08 00:27] Arcanemagus commented on #141
As stated, if you want to submit a PR making those changes I can review + merge it.

Just a note, the text should be something like ``"An absolute path to `flow` or a relative path to `flow` from the project's `.flowconfig`."``

[2016-12-08 00:32] Arcanemagus commented on #150
The setting in Linter controls whether it will trigger a lint for a file based on the VCS setting.

I'm _guessing_ that what is going on here is that since you are opening `index.js` (which would be allowed), `flow` is running on that... but `flow` returns result for _all_ files in what _it_ considers to be the project, and from what you described you haven't told `flow` to ignore the file... so i

[2016-12-08 00:35] steelbrain commented on #150
This is actually something that has to do with Flow. Linter cannot control VCS ignored status of Project-Scoped linters.

The errors you get from your deps are because:
1. Flow checks entire project
2. Your deps are faulty, they should not include `.flowconfig` in the npm dist; they do right now :)

You can "supress" this error in flow by ignoring the node_modules directory, but then everytime you

[2016-12-09 01:59] DarrylD opened #151 "ES6 deconstructing paramaters"
I have something like
[code]

When I add my annotations like so
[code]

It satisfy the flow error but, now I have `no-unused-vars` error for `number` and `string`. Any way to add annotations and satisfy flow and eslinter?

[2016-12-09 20:05] Arcanemagus commented on #151
Are you using the Babel parser in ESLint? It should be ignoring the types.

[2016-12-09 20:51] DarrylD commented on #151
I'm not sure? How would I tell. I just have https://atom.io/packages/language-babel

[2016-12-09 21:12] Arcanemagus commented on #151
Here are the instructions for installing and configuring it: https://github.com/babel/babel-eslint#usage

[2016-12-10 02:46] nmn commented on #151
Your syntax for type annotations is wrong.

Use this instead:

[code]

[2016-12-10 02:46] #151 closed

[2016-12-11 23:55] Foxhoundn opened #152 "linter-flow does not check React Native project on fly"
Weird.

My web project works fine, code is being checked on the fly just fine. But when I opened my RN project no checking is happening at all.

Note: The RN files are all *.js since RN does not support the *.jsx extension.

![screen shot 2016-12-12 at 00 53 48](https://cloud.githubusercontent.com/assets/8861481/21084559/8bed4e94-c005-11e6-988a-b790f30a7ef1.png)
![screen shot 2016-12-12 at 00 54 0

[2017-01-15 17:43] aendrew opened #153 "Make ability to use local flow-bin more obvious"
As per #67, setting Flow path to `./node_modules/.bin/flow` definitely loads the local Flow binary.

That said, it feels like this could be more intuitive — perhaps by assuming local flow-bin by default if the path isn't set in settings. It feels like using the local version of Flow is the current best practice (able to control Flow version based on `package.json` being the primary benefit; not ha

[2017-01-17 06:17] Agontuk commented on #146
As far as I understand, running flow only checks files with `@flow` annotation. To enable checking without  annotation, you have to run `flow --all`. I think there should be `enableAll` option which, if enabled, will run flow with `--all` flag.

[2017-01-18 10:46] emiljohnsen commented on #78
I'm experiencing the bug as of right now, with version 5.5.0. I get hints both as tooltip and in the bottom area in an unsaved file, but they are gone as soon as I save the file.

This issue occurs whether or not I have linter-eslint enabled, which also reports to the same areas.

I tried it with both` /* @flow */` and `// @flow`

[2017-01-18 16:14] nmn commented on #78
This bug is probably a bug with flow itself. Longer-flow uses flow status for saved files. But it uses a different command for unsaved files. That could be causing the problem. Nuclide fixes this problem by only showing you errors after you save the file. Would you prefer that?

[2017-01-18 17:52] emiljohnsen commented on #78
I'd prefer linter-flow to behave like linter-eslint, and I'd prefer to use linter-flow instead of dealing with a second "type" of plugin, hah.

I haven't checked out nuclide, or any other particular flow linters.

Eslint, IIRC, evaluates the files on save and displays errors afterwards, which I'd prefer.

[2017-01-28 07:32] git-jiby-me commented on #146
@Arcanemagus `flow` uses the `.flowconfig` to define if all files needs to be checked or not. The problem in `flow-linter` is this check inside `lib\index.js`
[code]
basically `flow-linter` just cuts off if file doesn't have the annotation, we can simply remove this check, as `flow` will automatically from `.flowconfig` decide if it needs to run on all files or not.

[2017-01-28 17:58] jrajav opened #154 "Runs in file directory rather than project root"
This plugin runs Flow in the directory containing the current file, rather than the root project directory Atom is open to, or the project root as defined by the first parent directory with a .flowconfig file. This creates a problem when you have a Flow config that depends on `<PROJECT_ROOT>` in order to resolve certain modules with `module.name_mapper`, causing errors that only occur in flow-ide

[2017-02-09 17:56] Gozala opened #155 "Add support for linting unsaved files"
I often times create a new buffer and start sketching things up, which is especially useful for reporting issues to a flow project. Unfortunately such workflow is not supported and I tend to use https://flowtype.org/try/ instead. I would very much prefer to use my configured editor instead of https://flowtype.org/try/

[2017-02-09 18:51] Gozala commented on #155
I looked into this as I wanted write a patch to fix this, but as it turns out linter does not event trigger providers for buffers that have no files associated with them :( So it's blocked by @steelbrain/linter#1235

[2017-02-10 16:59] jbmorgado commented on #131
I'm still receiving this error on atom while using linter-flow. On VSCode with *Flow Language Support* module, it works fine.

[2017-02-21 18:01] nmn commented on #78
@emiljohnsen aslant works on the fly too. There's an option though. I'll try and make it work with that option.

[2017-02-23 05:36] rakeshm4u commented on #50
I am facing this issue while doing it on a large set of files, I tries to do a static check on around 1500 files, after some 700 files the flow started showing "flow is rechecking; this should not take long [merging inference] –" and its getting stuck. The flow-bin version is 0.39.0. Please let me know if someone can help.

[2017-03-08 12:37] git-jiby-me opened #157 "Uncaught RangeError: Invalid string length"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.14.4 x64
**Electron**: 1.3.13
**OS**: Mac OS X 10.12.3
**Thrown From**: [linter-flow](https://github.com/AtomLinter/linter-flow) package 5.5.0

### Stack Trace

Uncaught RangeError: Invalid string length

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-03-11 05:22] krainboltgreene opened #158 "No linting or autocomplete happening"
- I have a `.flowconfig`:
[code]
  - I have it pointing to my `flow` binary:
[code]

However, I still can't get it to actually give me errors.

[2017-03-19 20:21] Arcanemagus commented on #158
Does it work if you specify the _full_ path to `flow`? I'm not entirely sure relative paths like that will work.

[2017-03-19 21:01] krainboltgreene commented on #158
If a full path works it would be a non-starter for me since I don't do global installs :(

[2017-03-20 17:01] nmn commented on #50
please check that this is a problem with the linter and not flow itself.

[2017-03-31 15:32] huzidaha commented on #131
It's maybe you don't have `eslint` package installed in your project, use:

[code]

[2017-04-08 00:35] proProbe commented on #114
hello!
Any updates on this?

[2017-04-10 18:43] nmn commented on #114
Sorry, been busy. But I am working on this, Promise!

[2017-04-14 09:11] cristian-sima commented on #114
Waiting :D

[2017-04-16 03:10] revyh opened #162 "Doesn't work with flowtype v0.44"
It looks like flow json output format has been modified and it doesn't contain `level` property anymore. So plugin [can't define error type](https://github.com/AtomLinter/linter-flow/blob/27a92820a37ddbdf42a25c94855dd4cd249b9e10/lib/message.js#L31)

I didn't track exact version in wich it happened, but plugin don't work for me at least with 0.44. Maybe related to https://github.com/AtomLinter/lint

[2017-04-17 16:38] Arcanemagus commented on #162
Duplicate of #160, unfortunately none of @AtomLinter/linter-flow seems to have taken that up yet.

[2017-04-17 16:38] #162 closed

[2017-04-19 16:07] KingScooty commented on #158
This isn't working for me either.

[2017-04-19 16:08] KingScooty commented on #162
@AtomLinter/linter-flow doesn't seem to be a real team? That page 404's.

[2017-04-19 18:30] Arcanemagus commented on #162
It is, unfortunately org teams aren't visible to non members. I'll see if I can devote some time to this later...

[2017-04-25 22:41] nmn commented on #114
I'm working with the Flow team to figure some things out.

[2017-05-10 09:16] AStaroverov commented on #158
and for me

[2017-05-10 10:10] AStaroverov commented on #158
I try check work of this module for me and how i understand linter-flow correct work (provideLinter create correct messages), but i don`t see ui messages

[2017-05-10 10:32] AStaroverov commented on #158
I have Linter version 2, but this package use spec for 1 version. Can this be a problem?

[2017-05-16 08:38] hmeerlo commented on #158
Absolute path doesn't solve it for me. I was not very happy with Nuclide, so looking for an alternative.

[2017-05-18 12:37] idan commented on #153
Ideally this should work without needing to configure the path to the local flow binary. If you take a look at how [linter-eslint does this](https://github.com/AtomLinter/linter-eslint/blob/1db35922c3aff7a5396af7c9ae1518fc151b79d5/src/worker-helpers.js#L43-L105), it automatically looks for a project-local eslint before trying the global one. There's even an option to only enable eslint if an .esli

[2017-05-18 12:44] idan commented on #158
Following the suggestions in #67, had originally setup with `./node_modules/.bin/flow`, I'm still getting errors from the linter, despite the binary definitely being present.

![2017-05-18 at 15 26](https://cloud.githubusercontent.com/assets/22723/26201998/6685c1c2-3bde-11e7-84f9-fcad74c5cab1.jpg)

Absolute path does make it work, but that isn't a real solution, since i don't have flow globally in

[2017-05-24 12:38] greenkeeper[bot] opened #165 "An in-range update of eslint-plugin-import is breaking the build 🚨"
## Version **2.3.0** of [eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/AtomLinter/linter-flow/compare/greenkeeper%2Feslint-plugin-import-2.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-plugin-impo

[2017-06-05 04:25] kerryChen95 opened #166 "Should support use project local flow bin"
I use linter-flow without `npm i -g flow-bin`, and get error:

I think linter-flow should support use project local flow bin as optional, for example use `<project root>/node_modules/.bin/flow` if it exists, so we can use the same version of flow bin for both Atom's linter-flow and command `npm run flow`.

[2017-06-23 15:35] rjdestigter opened #169 "Configurable path to `.flowconfig`"
It would be nice to be able to point where `.flowconfig` lives. I've got a project where both `react-native` and `web` share a lot of code but not the same `.flowconfig`

[2017-07-06 14:58] rjdestigter commented on #169
I've currently solved the problem by pointing `linter-flow` to a bash script that redirects the request:
[code]

Where in my case `.flowconfig` lives in `$DIR/../dom/`

[2017-07-10 18:32] Arcanemagus commented on #165
This was due to the CI configuration error fixed in #171.

[2017-07-10 18:32] #165 closed

[2017-07-18 20:09] nwshane commented on #166
Any updates on this?

[2017-07-18 22:24] stackptr commented on #166
This is also reflected in the Flow install docs as a best practice: https://flow.org/en/docs/install/

[2017-07-19 21:47] stackptr commented on #166
It makes sense that that setting would work, but I don't feel it's very intuitive + the default assumption is a global install when that seems like it should be the special case (with the default to using `node_modules`)

I was looking at how [AtomLinter/linter-eslint](https://github.com/AtomLinter/linter-eslint)  accomplishes using local vs global versions of the linting tool (though it seems I m

[2017-07-21 15:56] aswerdlow935 opened #173 "Error: Cannot read property 'started' of null"
I am getting the error "Cannot read property 'started' of null" when running using a .flowconfig file and in a regular JS file (for web). Any idea if this is a bug or what is going on?

[2017-07-22 06:45] #173 closed

[2017-07-23 16:40] hulkish opened #175 "Many flow processes spawned"
<img width="694" alt="screen shot 2017-07-23 at 11 37 25 am" src="https://user-images.githubusercontent.com/139332/28501142-6a236366-6f9b-11e7-89b6-a76120fe5ea4.png">

This issue is back...

My environment:
- `macOS@10.12.5`
- `atom@1.18.0 x64`
- `linter-flow@5.6.0`
- `node@8.2.1`

[2017-07-24 22:41] hulkish commented on #175
ref https://github.com/AtomLinter/linter-flow/issues/47#issuecomment-199573837

[2017-08-01 21:16] metalex9 commented on #166
For anyone on Windows, you'll need to use backslashes instead of forward slashes (`.\node_modules\.bin\flow`)

[2017-08-21 12:21] far-blue commented on #166
I can't get the `./node_modules/.bin/flow` trick to work and would really prefer either than flow was bundled in the plugin or that the plugin was able to find and use a local flow binary rather than installing one globally.

[2017-08-24 15:50] patrickjtoy opened #176 "Add support for Flow linter"
Per the documentation at https://flow.org/en/docs/linting/ we should be able to add a [lints] section in .flowconfig, however adding that section throws the following error:

![screen shot 2017-08-24 at 11 49 46 am](https://user-images.githubusercontent.com/5121391/29675175-5c46f8da-88c2-11e7-9191-71ecf073ddae.png)

[2017-08-24 19:03] nmn commented on #176
This should not be linter-flow error. Are you sure you have the newest version of Flow installed?

[2017-08-28 15:27] mifrej commented on #166
+1 for project specific "local". This is how linter-eslint works and so that should this very one also followed same pattern

[2017-08-29 17:00] Arcanemagus commented on #150
Closing this as there is nothing that can be done about it here, you should be ignoring those files in your Flow configuration.

Also, looking back over your steps you never actually create a git repository in this test, and you don't have `node_modules` ignored even if you did, so even if we did go crazy and implement checking the results against the VCS before sending them onto Linter that still

[2017-08-29 17:00] #150 closed

[2017-08-29 17:02] Arcanemagus commented on #155
Closing this here, if and when `linter` adds support for that this can be revisited.

[2017-08-29 17:02] #155 closed

[2017-09-04 08:29] dominic-p opened #179 "Feasability of integrating with flow-jsdoc"
I'm thinking this is unrealistic, but I thought I would ask.

I'm interested in using flow, but I don't like the idea of documenting my code twice (once in jsdoc blocks and once in flow annotations). I found the flow-jsdoc project and that seemed prefect, but I can't see how you could do on the fly linting with it.

Any thoughts?

[2017-09-06 00:47] stackptr commented on #166
This is a rough first pass: https://github.com/AtomLinter/linter-flow/pull/180

[2017-10-05 13:03] barbalex opened #184 "Missing existing .flowconfig file"
![linter-flow](https://user-images.githubusercontent.com/669783/31228432-d34ec912-a9dd-11e7-8155-eaed4bd7b7b1.png)

I am using:

- eslint 4.4.1 (via react-scripts 1.0.14)
- atom 1.21.0 ia32
- linter-eslint 8.3.2
- node 8.6.0
- npm 5.4.2

[2017-12-01 19:13] greenkeeper[bot] opened #185 "An in-range update of babel-eslint is breaking the build 🚨"
## Version **8.0.3** of [babel-eslint](https://github.com/babel/babel-eslint) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/AtomLinter/linter-flow/compare/greenkeeper%2Fbabel-eslint-8.0.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      babel-eslint
    </td>
  </tr>
  <tr>
    <th

[2017-12-16 17:46] sketchbuch opened #186 "flow methods cant resolve"
Atom marks my tests as containg errors. When I look at the files the only problems are that the flow methods can't be resolved. What causes this and how can I fix it?

I'm using create react app and have created a .eslintrc file as described on the CRA website.

[2017-12-24 03:04] greenkeeper[bot] opened #187 "An in-range update of eslint is breaking the build 🚨"
## Version **4.14.0** of [eslint](https://github.com/eslint/eslint) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/AtomLinter/linter-flow/compare/greenkeeper%2Feslint-4.14.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint
    </td>
  </tr>
  <tr>
    <th align=left>
      Cur

[2018-02-19 11:43] YUzhva opened #188 "[config] Exclude __tests__ paths or .test.js files from type checking"
Is there any way to do that?

Is that possible to do as the feature for config?

[2018-02-19 11:44] #188 closed

[2018-02-22 03:01] greenkeeper[bot] opened #189 "An in-range update of eslint-plugin-import is breaking the build 🚨"
## Version **2.9.0** of [eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/AtomLinter/linter-flow/compare/greenkeeper%2Feslint-plugin-import-2.9.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-plugin-impo

[2018-03-17 02:40] greenkeeper[bot] opened #190 "An in-range update of atom-package-deps is breaking the build 🚨"
☝️ Greenkeeper’s [updated Terms of Service](https://mailchi.mp/ebfddc9880a9/were-updating-our-terms-of-service) will come into effect on April 6th, 2018.

## Version **4.6.2** of [atom-package-deps](https://github.com/steelbrain/package-deps) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/AtomLinter/linter-flow/compare/greenkeeper%2Fatom-pac

[2018-06-15 22:04] MiLeung commented on #166
I think I'm getting the same issue, but I have the linter package enabled.

[Linter] Error running Flow Error: Failed to spawn command `flow`. Make sure `flow` is installed and on your PATH

Or is this a different issue?

<img width="840" alt="screen shot 2018-06-15 at 3 01 33 pm" src="https://user-images.githubusercontent.com/9166324/41491333-55a80ea0-70ad-11e8-8839-ad9edd90bedc.png">

[2018-10-18 09:42] amercier commented on #186
@sketchbuch If I understand correctly I'm having the same problem (sorry if it's not):

![image](https://user-images.githubusercontent.com/1246795/47145124-4dc7cf80-d2c9-11e8-8f7a-959fe9508d8b.png)

### Problem

1. Running `flow` passes => **OK**
2. Atom marks some methods as unknown (Cannot resolve method X) => **NOK**

### Cause

In my case, this is due to:
1. I'm using Jest (built in CRA),
2. I

[2019-01-14 17:46] Arcanemagus opened #197 "Support v2 Linter API"
In the [v2.3.0 release](https://github.com/steelbrain/linter/releases/tag/v2.3.0) of `linter` support for the v1 API was removed, breaking semver. This means that this provider is no longer supported by the current version of `linter`.

To get this provider working again it will need to be upgrade to the v2 API, a guide for accomplishing that can be found here: [Upgrading to Standard Linter v2](ht

[2019-01-30 17:25] #185 closed

[2019-01-30 17:25] #187 closed

[2019-01-30 17:25] #189 closed

[2019-01-30 17:25] #190 closed

[2019-01-30 18:48] Arcanemagus commented on #176
Closing as this has nothing to do with `linter-flow`. As pointed out above it's likely you were using an outdated version of `flow`.

[2019-01-30 18:48] #176 closed

[2019-01-30 18:50] Arcanemagus commented on #104
Although _currently_ this doesn't appear to be working, I'm closing this issue as it seems what it was originally talking about was fixed.

[2019-01-30 18:50] #104 closed

[2019-01-30 19:19] Arcanemagus commented on #186
Closing based on the above.

[2019-01-30 19:19] #186 closed

[2019-01-30 19:21] Arcanemagus commented on #197
CI will need to be fixed before this can proceed.

[2019-02-28 22:57] alspdx commented on #197
Is there any progress on this?

[2019-03-01 03:50] Arcanemagus commented on #197
`flow` seems to have made changes to how the output of the command gets sent.... often sending the majority of the output _after_ it has exited 🤦‍♂️. This is causing the specs to fail since the output isn't making it to the package since it stops listening when it exits.

I'm not sure if there is a better way of calling `flow` that works around this behavior, or if we need to change how it is bein

[2019-03-03 22:43] el1f commented on #166
This in particular makes it even less obvious
![image](https://user-images.githubusercontent.com/10723208/53703078-1851f780-3e0e-11e9-9bc1-7d108c39c8b0.png)

[2021-12-21 08:01] #152 closed